apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus-1
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 5s
